.App {
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}

.Main-section {
  display: flex;
  float: left;
  padding-top: 10vh;
  display:inline; 
  width: 49%;
  padding-left: 20vh;
}



